div.footer(class="row")
    div.footer-message(class="row") 
        span Toronto, We're Back.

    div.footer-util(class=" row")
        span.footer-date April 30 - May 3,2013

        span.footer-info Applications open soon
        
        a.action-button(href="") Notify me