div.header.row
    div.row
        div.branding(class="pull-right")
            img.col-xs-6.logo(src="img/logo.png",class="")
            span.col-xs-6.brand-info
                b.Spring(style='white-space:pre;')
                    | Spring
                    | 2015
                    | Toronto

    div.headline.center-block.row
        span.head-message
            span.first-line
                | Showcase
            br
            span.second-line
                | The Future

    div.row.header-action
        a(href="https://docs.google.com/forms/d/1OrL8y4oDY0sUz5JTXvWi_SuAi8JBfIDQyOh47UcfU_4",
          class="action-button") 
            | Become an Ambassador
