div(class="middle row")
    div.pride(class="col-md-5")
        |EST
        br
        |1999

    div.middle-message(class="col-md-7")
        | The Canadian Undergraduate Technology Conference <b>(CUTC)</b> is Canada's largest and longest running student-organized conference
